.container {
    @apply max-w-7xl mx-auto px-4;
}

.card {
    @apply bg-white shadow-lg rounded overflow-hidden;
}

.card-title {
    @apply text-xl text-gray-700 mb-2 leading-6;
}

.card-body {
    @apply px-6 py-4;
}

.embed-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.embed-responsive iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.sticky-notes ul, .sticky-notes ul li {
    list-style: none;
}

.sticky-notes ul {
    overflow: hidden;
    padding: 3em;
}

.sticky-notes ul li a {
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;  
    padding:1em;
    /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7); 
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}

.sticky-notes ul li {
    margin:1em;
    float:left;
}

.sticky-notes ul li p {       
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}

.sticky-notes ul li a{
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.sticky-notes ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
.sticky-notes ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
.sticky-notes ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
} 

.sticky-notes ul li a:hover, .sticky-notes ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}



/* ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li p{
  
} */

/*
* SM screen
*/
@media(min-width:640px){
    .container {
        @apply px-6;
    }
}

/*
* LG screen
*/
@media(min-width:1024px){
    .container {
        @apply px-8;
    }
}